<!-- header.component.html -->
<header class="header">
    <div class="wrapper">
        <div class="header__logo">
            <img src="app-icons/logo.svg" alt="DABubble Logo" class="header__logo-icon" />
            <span class="header__logo-text">DABubble</span>
        </div>

        <div class="header__search">
            <input type="text" class="header__search-input" placeholder="Search Devspace" [(ngModel)]="searchQuery"
                (input)="onSearchInput()" />
            <img src="app-icons/search.svg" alt="Search Icon" class="header__search-icon" />
        </div>
    </div>

    <div
        class="header__backdrop"
        *ngIf="isUserMenuOpen"
        (click)="closeUserMenu()"
    ></div>

    <div class="header__user" [class.header__user--menu-open]="isUserMenuOpen" (click)="toggleUserMenu()">
        <!-- <span class="header__user-name">{{ currentUser.name }}</span> -->
        <span class="header__user-name">User Name</span>

        <!-- <img [src]="currentUser.avatarUrl" alt="" class="header__user-avatar" /> -->
        <img src="app-icons/avatar-placeholder.svg" alt="" class="header__user-avatar" />
        <img src="app-icons/arrow_down.svg" alt="" class="header__user-chevron header__user-chevron--default" />
        <img src="app-icons/arrow_down_purple.svg" alt="" class="header__user-chevron header__user-chevron--hover" />

        <div class="header__user-menu" *ngIf="isUserMenuOpen">
            <button (click)="goToProfile()">Profile</button>
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</header>