<header class="header" [class.header--chat]="chatMode()">
  <div class="wrapper">
    <button type="button" class="header__chat-nav" (click)="back.emit()">
      <img src="app-icons/arrow_down.svg" alt="Back" class="header__chat-nav-arrow" />
      <img src="app-icons/workspace.svg" alt="" class="header__chat-nav-icon" />
      <span class="header__chat-nav-text">Devspace</span>
    </button>

    <div class="header__logo">
      <img src="app-icons/logo.svg" alt="DABubble Logo" class="header__logo-icon" />
      <span class="header__logo-text">DABubble</span>
    </div>

    <div class="header__search">
      <input type="text" class="header__search-input" placeholder="Search Devspace" [(ngModel)]="searchQuery"
        (input)="onSearchInput()" />
      <img src="app-icons/search.svg" alt="Search Icon" class="header__search-icon" />
    </div>
  </div>

  @if (isUserMenuOpen) {
  <div class="header__backdrop" (click)="closeUserMenu()"></div>
  }

  @if (isUserProfileOpen) {
  <div class="header__backdrop" (click)="closeUserProfile()"></div>
  }

  <div class="header__user" [class.header__user--menu-open]="isUserMenuOpen" (click)="toggleUserMenu()">
    <span class="header__user-name">{{ currentUser()?.name }}</span>

    <img [src]="currentUser()?.avatar || 'app-icons/avatar-placeholder.svg'" alt="" class="header__user-avatar" />
    <img src="app-icons/arrow_down.svg" alt="" class="header__user-chevron header__user-chevron--default" />
    <img src="app-icons/arrow_down_purple.svg" alt="" class="header__user-chevron header__user-chevron--hover" />

    @if (isUserMenuOpen) {
    <div class="header__user-menu">
      <button (click)="openUserProfile()">Profile</button>
      <button (click)="logout()">Logout</button>
    </div>
    }
    @if(isUserProfileOpen){
    <div class="header__profile-dialog">
      <p>Profile</p>
      <button (click)="closeUserProfile()">x</button>
      <img [src]="currentUser()?.avatar || 'app-icons/avatar-placeholder.svg'" alt="" class="header__user-avatar" />
      <p>{{currentUser()?.name}}</p>
      <button>Edit</button>
      <p>Status placeholder</p>
      <p>E-Mail Address</p>
      <p>{{currentUser()?.email}}</p>
    </div>}
  </div>
</header>