<div class="message-list">
  <ng-container *ngFor="let group of groupedMessages">
    <div class="message-list__divider">
      <span>{{ group.dateLabel }}</span>
    </div>

    <div
      *ngFor="let message of group.messages"
      class="message-list__item"
      [class.message-list__item--own]="message.authorId === currentUserId"
    >
      <!-- <img [src]="message.authorAvatarUrl" alt="" class="message-list__avatar" /> -->
      <img src="app-icons/avatar-placeholder.svg" alt="">

      <div class="message-list__content">
        <div class="message-list__meta">
          <span class="message-list__author">{{ message.authorName }}</span>
          <span class="message-list__time">{{ message.time }}</span>
        </div>

        <div class="message-list__bubble">{{ message.text }}</div>

        <app-reaction-bar
          [reactions]="message.reactions"
          (reactionToggled)="onReactionToggled(message, $event)"
        ></app-reaction-bar>

        <button
          *ngIf="message.replyCount"
          class="message-list__thread-link"
          (click)="threadOpened.emit(message)"
        >
          {{ message.replyCount }} Antworten
        </button>
      </div>
    </div>
  </ng-container>
</div>
