@use '../../../../styles/variables' as *;

.channel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.06);
  font-family: 'Nunito';
  flex-shrink: 0;

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 24px;
    

    &:hover {
      background-color: $pastel-purple-bg;
      color: $midtone-purple-three;
    }
  }

  &__hash {
    font-size: 1.3rem;
    font-weight: 700;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 700;
    color: $black;
  }

  &__chevron {
    width: 20px;
    height: 20px;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__avatars {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 24px;
    background-color: $white;

    &:hover {
      background-color: $pastel-purple-bg;
    }
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    // border: 2px solid $color-background;
    margin-left: -8px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__count {
    margin-left: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    color: $black;
  }

  &__add-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;

    // &:hover {
    //  bild austauschen
    // }

    img {
      width: 32px;
      height: 32px;
    }
  }
}