$dark-purple-one: #444DF2;
$midtone-purple-three: #535AF1;
$light-purple-two: #797EF3;
$pastel-purple-bg: #ECEEFE;
$error-red: #ED1E79;
$online-green: #92C83E;
$white: #FFFFFF;
$black: #000000;
$dark-grey: #686868;

$border-purple:#adb0d9
