@use '../styles/variables' as *;

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app-wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: $pastel-purple-bg;
  
}
