:host {
  width: 100%;
  max-width: 606px;
  height: 100%;
  max-height: 469px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 2px 10px 0 #00000014;
  padding: 50px 60px;

  .headline {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    h2 {
        font-family: 'Nunito';
      font-size: 2.875rem;
      font-weight: 700;
      line-height: 120%;
      color: #444df2;
    }

    .back-btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 15%;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      background: none;
      transition: background 170ms ease-in-out;

      .back-arrow {
        color: #000000;
        transition: color 170ms ease;
      }

      &:hover {
        background: #eceefe;
        transition: background 170ms ease-in-out;

        .back-arrow {
          color: #535af1;
        }
      }
    }
  }

  p {
    font-family: 'Nunito';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 120%;
    color: #000000;
    text-align: center;
  }
}

:host > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;

  .input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 100px;
    transition:
      border-color 0.15s ease,
      background-color 0.15s ease;

    .input-icon {
      position: absolute;
      left: 36px;
      top: 19px;
      width: 20px;
      height: 20px;
      pointer-events: none;
      color: #686868;
      transition: color 0.15s ease;
    }

    input {
      padding: 14px 16px 14px 86px;
      width: 100%;
      max-width: 500px;
      height: 60px;
      border-radius: 100px;
      border: 1px solid transparent;
      background-color: #eceefe;
      font-family: 'Nunito';
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 120%;

      caret-color: #000000;

      &::placeholder {
        color: #686868;
      }

      &:focus {
        outline: none;
      }
    }

    &:focus-within {
      border-color: #535af1;

      .input-icon {
        color: #000000;
      }
    }
  }
}

.main {
  background: #444df2;
  font-size: 1.125rem;
  color: white;
  font-family: 'Nunito';
  font-weight: 700;
  line-height: 100%;
  border: none;
  cursor: pointer;
  transition: all 170ms ease-in-out;
  padding: 12px 25px;
  border-radius: 25px;
  height: 49px;
  align-self: flex-end;

  &:hover {
    background: #797ef3;
    transition: all 170ms ease-in-out;
  }

  &:disabled {
    background: #c4c4f9;
    cursor: not-allowed;
  }
}

.error-msg {
  position: absolute;
  align-self: flex-start;
  top: 65px;
  color: #ed1e79;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
}

.error-msg-form {
  display: block;
  text-align: center;
  color: #ed1e79;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  margin-top: 8px;
}
