<div>
  <div>
    <button></button>
    <h2>Passwort zurücksetzen</h2>
  </div>
  <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
  <input type="text" placeholder="beispielname@email.com" [formField]="recoveryForm.email" />
  @if (recoveryForm.email().invalid() && recoveryForm.email().touched()) {
    <span>{{ recoveryForm.email().errors()[0].message }}</span>
  }
  <p>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
  <button
    type="button"
    (click)="onSubmit()"
    [disabled]="recoveryForm().invalid() || isSubmitting()"
  >
    {{ isSubmitting() ? 'Wird gesendet...' : 'E-Mail senden' }}
  </button>
  @if (errorMessage()) {
    <span>{{ errorMessage() }}</span>
  }
</div>
