<div class="landing-page">
  <h2>Login</h2>
  <p>We recommend using the email address you use at work.</p>
  <input type="email" placeholder="examplename@email.com" [formField]="loginForm.email" />
  @if (loginForm.email().invalid() && loginForm.email().touched()) {
    <span>{{ loginForm.email().errors()[0].message }}</span>
  }

  <input type="password" placeholder="Password" [formField]="loginForm.password" />
  @if (loginForm.password().invalid() && loginForm.password().touched()) {
    <span>{{ loginForm.password().errors()[0].message }}</span>
  }
  <a routerLink="/password-recovery">Forgot password?</a>
  <div>OR</div>
  <button>Log in with Google</button>
  <div>
    <button type="button" (click)="onSubmit()" [disabled]="loginForm().invalid() || isSubmitting()">
      {{ isSubmitting() ? 'Logging in…' : 'Log in' }}
    </button>

    @if (errorMessage()) {
      <span>{{ errorMessage() }}</span>
    }
    <button type="button" (click)="loginAsGuest()" [disabled]="isGuestLoggingIn()">
      {{ isGuestLoggingIn() ? 'Logging in…' : 'Guest login' }}
    </button>
  </div>
</div>
