<div class="message-input">
  <div class="message-input__field-wrapper">
    @if (showMentionDropdown()) {
      <div class="message-input__mention-panel">
        @for (option of mentionOptions(); track option.id; let i = $index) {
          <button
            type="button"
            class="message-input__mention-option"
            [class.message-input__mention-option--active]="i === activeMentionIndex()"
            (mouseenter)="activeMentionIndex.set(i)"
            (click)="selectMentionOption(option)"
          >
            @if (mentionTrigger() === '@') {
              <img class="message-input__mention-avatar" [src]="option.avatar" [alt]="option.label" />
            } @else {
              <span class="message-input__mention-hash">#</span>
            }
            <span>{{ option.label }}</span>
          </button>
        }
      </div>
    }

    <textarea
      #textarea
      class="message-input__field"
      (keydown)="onKeydown($event)"
      [value]="text()"
      (input)="onInput($event)"
      [disabled]="disabled"
      [placeholder]="placeholder"
    ></textarea>
  </div>

  <div class="message-input__actions">
    <div class="message-input__emoji-wrapper">
      <button class="message-input__icon-btn" (click)="toggleEmojiPicker()">
        <img src="app-icons/emoji.svg" alt="Emoji" />
      </button>

      @if (showEmojiPicker()) {
        <div class="message-input__emoji-panel">
          @for (emoji of curatedEmojis; track emoji) {
            <button type="button" class="message-input__emoji-option" (click)="selectEmoji(emoji)">
              {{ emoji }}
            </button>
          }
        </div>
      }
    </div>
    <button class="message-input__icon-btn" (click)="insertMention()">
      <img src="app-icons/tagg.svg" alt="Mention" />
    </button>

    <button class="message-input__send-btn" [disabled]="disabled" (click)="sendMessage()">
      <img src="app-icons/send.svg" alt="Send" />
    </button>
  </div>
</div>
